<h1>Listing reports</h1>

<table>
  <thead>
    <tr>
        <th>Nombre</th>
        <th>Altura</th>
        <th>Cantidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.name %></td>
        <td><%= report.altitude %></td>
        <td><%= report.count %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_report_path %>
